<!--Global Styles-->


body, html {
    font-family: 'Calibri', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px){
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        margin-left: auto;
        margin-right: auto;
    }
}


<!--Top Bar Styles-->


.top-bar {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 15px;
}

.top-bar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    margin: 0;
}

.top-bar .separator {
    margin: 0 10px;
    color: #ffffff;
}

@media (max-width: 992px) {
    .top-bar {
        display: none;
    }
}
<!--Main Navigation Bar Styles-->


/* General Navbar Styling */
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    padding: 0 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f67350;
}

.navbar-light .navbar-nav .dropdown-menu {
    border-radius: 0;
}

.navbar-light .navbar-nav .dropdown-item:hover {
    background-color: #f67350;
    color: #fff;
}

/* Logo and Search Bar */

.search-bar {
    max-width: 75%;
    flex-grow: 1;
}

.search-bar .form-control {
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0;
    height: 60px;
    font-size: 22px;
    padding-left: 30px;
}

.search-bar .search-btn {
    background-color: #ccc;
    border-radius: 0;
    border: 1px solid #ccc;
    border-left: none;
    height: 60px;
    width: 60px;
    font-size: 20px;
}

.search-bar .search-btn i {
    color: #000;
}

.btn-light{
    background: none;
    border-style: none;
}

.d-flex .btn-light i {
    font-size: 30px;
}

/* Main Category Button */

.category-btn {
    background-color: #f67350;
    color: #fff;
    border: none;
    flex-grow: 0;
    border-radius: 0px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
}

.category-btn i {
    margin-right: 10px;
}

.container-fluid.d-flex.align-items-center.justify-content-between {
    overflow: hidden;
    white-space: nowrap;
}

/* Circle around the telephone icon */
.navbar .call-btn .icon-circle {
    background-color: #f67350;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.navbar .call-btn .icon-circle i {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

/* Call Us Button */
.call-btn {
    background-color: #fff;
    color: #f67350;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.call-btn .d-flex {
    flex-shrink: 1;
    min-width: 0;
}

.call-btn span {
    margin-left: 10px;
    color: #f67350;
}

.call-text {
    color: #343845;
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 1px;
}

.call-num{
    font-size: 22px;
    font-weight: 500;
}

/* Main Navigation Links */
.nav-link {
    color: #000;
    font-weight: bold;
    padding: 0px;
    font-size: 20px;
    margin: 0px;
}

.nav-link:hover {
    color: #f67350;
}

/* Dropdown */
.dropdown-menu {
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #f67350;
    color: #fff;
}

/* Adjusting Columns */

.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

.navbar-nav .nav-item i {
    font-size: 1.2em;
}

.navbar-toggler{
    display: flex;
    align-items: center;
    width: 45px;
    height: auto;
}

/*Off Canvas*/
.offcanvas-75 {
    width: 65% !important;
    max-width: 65% !important;
}

.off-search-bar {
    width: 100%;
}

.off-search-bar input {
    padding: 0.75rem;
    background-color: #f7f7f7;
    border-right: none;
    border-radius: 0;
    height: 60px;
    font-size: 22px;
    border: none;
}

.off-search-bar .search-btn {
    background-color: #f7f7f7;
    border-radius: 0;
    border-left: none;
    height: 60px;
    width: 60px;
    font-size: 20px;
    padding-right: 20px;
    
}

.off-search-bar .search-btn i {
    font-weight: 700;
}

.off-navbar-nav {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.off-navbar-nav .nav-link {
    font-weight: bold;
    font-size: 20px;
    padding: 12px 0;
}

.btn-outline-primary {
    border-color: #f67350;
    color: #f67350;
    font-size: 18px;
    margin: none;
}

.btn-outline-primary:hover {
    background-color: #f67350;
    color: white;
}

.btn-primary {
    background-color: #343845;
    border-color: #343845;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    height: 60px;
}

.btn-primary:hover {
    background-color: #f67350;
}

@media (max-width: 992px) {
    .navbar.navbar-expand-lg.navbar-light.category-nav {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030;
    }

    body {
        padding-top: 100px; /* Add padding to prevent content from being hidden under the navbar */
    }

    .navbar .navbar-brand img {
        width: 80%;
        height: auto;
    }
    .navbar .search-bar form {
        display: none !important;
    }

    .icon-buttons {
        display: none;
    }

    .fixed-top {
        position: static !important;
    }
}

@media (max-width: 576px) {
    /* Ensure the navbar container is a flex container */
    .navbar {
        display: flex;
        justify-content: space-between; /* Space out the elements evenly */
        align-items: center; /* Vertically center the items */
        padding: 10px 15px; /* Adjust padding to your preference */
    }

    /* Style the logo to ensure it stays aligned */
    .navbar .navbar-brand {
        flex: 1; /* Allow the logo to take up necessary space */
        display: flex;
        align-items: center;
    }

    /* Style the cart and menu icons */
    .navbar .navbar-icons {
        display: flex;
        align-items: center;
    }

    .navbar .navbar-icons .icon {
        margin-left: 15px; /* Add space between icons */
    }

    /* Ensure the menu button stays on the right */
    .navbar .navbar-toggler {
        border: none;
        background: transparent;
        outline: none;
    }

    /* Optional: Adjust the width of the icons for better spacing */
    .navbar .navbar-icons .icon,
    .navbar .navbar-toggler {
        flex-shrink: 0; /* Prevent the icons from shrinking */
    }
}


<!--Hero/Carousel Section-->


/* Hero Section Styles */

.bg-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

.bg-image {
    background-image: url('/e-commerce/assets/bg-image.png');
}

.content-wrapper {
    padding: none;
    color: #fff;
}

.small-heading {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
}

.main-heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
}

.main-heading .highlight {
    color: #f67350;
}

.shop-now-btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #fff;
    border: 3px solid #f67350;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #f67350;
    color: #fff;
}

@media (max-width: 992px) {
    .bg-image .row {
        flex-direction: column-reverse;
    }

    .bg-image .content-wrapper {
        text-align: center;
        padding-top: 20px;
    }

    .bg-image img {
        max-width: 100%;
        height: auto;
        padding-top: 50px;
    }

    .bg-image .orange-line {
        display: none;
    }

    .bg-image .main-heading {
        font-size: 36px;
    }
}

<!--Featured Categories Section-->


/* Featured Categories Section */

.category-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}

.category-link img {
    width: 100%; /* Increase image width further */
    height: auto;
    margin: 0;
    display: block;
}

.category-link h5 {
    font-size: 30px; /* Increase font size for the title */
    font-weight: 700;
    margin-top: 20px;
    color: #343845;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.category-link p {
    font-size: 22px; /* Increase font size for the description */
    font-weight: 600;
    color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 15px;
}

.custom-carousel-control {
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
}

.custom-carousel-control:hover {
    background-color: #f67350;
    color: white;
    border-color: #f67350;
}

.custom-control-icon {
    font-size: 18px;
    color: #f67350;
}

.custom-carousel-control.carousel-control-prev {
    left: 15px;
}

.custom-carousel-control.carousel-control-next {
    right: 15px;
}

.category-link:hover h5 {
    color: #f67350;
}

.category-card:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

@media (max-width: 992px) {

    .category-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        color: inherit;
        text-decoration: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        font-size: 20px;
    }

    .category-link img {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    
    .category-link h5 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 20px;
        color: #343845;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .category-link p {
        font-size: 22px;
        font-weight: 600;
        color: #6c757d;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 15px;
    }

    .featured-categories .row {
        flex-direction: column;
    }

    .featured-categories .col-md-4, 
    .featured-categories .col-lg-2 {
        width: 100%;
        max-width: 350px;
        margin: 0 auto 25px;
    }
}


<!--Promotional Banners Section-->


/* Promotional Banners Section */
.promotional-banners {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.promotional-banners .card {
    border: none;
    overflow: hidden;
}

.promotional-banners .card-img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.promotional-banners .card-img-overlay {
    padding: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.promotional-banners .card-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 16px;
    line-height: 1.2;
}

.promotional-banners .highlight {
    color: #f67350;
}

.promotional-banners .card-text {
    font-size: 20px;
    color: #f0f0f0;
    margin-bottom: 24px;
    line-height: 1.2;
}

.promotional-banners .discount {
    font-size: 20px;
    color: #af3700;
    font-weight: bold;
}

.promotional-banners .btn-orange {
    background-color: #f67350;
    color: #fff;
    border-radius: 0;
    padding: 7px 18px;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.promotional-banners .btn-orange i {
    font-size: 18px; /* Icon size adjustment */
}

.promotional-banners .btn-orange:hover {
    background-color: #e65c00;
    color: #fff;
}

@media (max-width: 992px) {
    .promotional-banners .row {
        flex-direction: column;
    }

    .promotional-banners .col-md-6 {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .promotional-banners .card-img {
        width: 100%;
        height: auto;
    }

    .promotional-banners .card-img-overlay {
        padding: 24px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .promotional-banners .card-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .promotional-banners .card-text {
        font-size: 20px;
        color: #f0f0f0;
        margin-bottom: 24px;
    }

    .btn-orange {
        font-size: 16px;
        padding: 12px 24px;
        display: inline-flex;
        align-items: center;
    }

    .btn-orange i {
        font-size: 24px;
    }
}


<!--Featured Products Section-->


/* Featured Products Section */
.featured-products {
    margin-bottom: 50px;
}

.featured-products .row {
    justify-content: flex-start;
}

.featured-products h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}

.featured-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 20px;
}

.featured-product-card:hover {
    transform: translateY(-10px);
}

.featured-product-card img {
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

.featured-product-card .product-info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-product-card .product-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.featured-product-card .product-price {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 900;
}

.featured-product-card .old-price {
    text-decoration: line-through;
    color: #e70f00;
    margin-right: 10px;
}

.featured-product-card .new-price {
    color: #888;
}

.featured-product-card .product-rating {
    margin-bottom: 10px; /* Add some space below the rating */
}

.featured-product-card .product-rating i {
    color: #000000;
}

.featured-product-card .product-rating i.bi-star {
    color: #ccc;
}

.product-nav {
    display: none;
}

@media (max-width: 992px) {
    .product-nav {
        display: flex;
        background-color: #d9b3aa;
    }

    .product-nav .col {
        position: relative; /* Ensure the dividers stay within the columns */
        padding: 0;
        text-align: center;
    }
    
    .product-nav .col:not(:last-child) {
        border-right: 1px solid #e9e9e9; /* White divider between the icons */
    }

    .product-nav .pnav-icon {
        color: #fff;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .product-nav .pnav-icon i {
        transition: color 0.3s ease;
    }
    
    .product-nav .pnav-icon:hover i {
        color: #f67350; /* Change icon color on hover */
    }
}


<!--Top Dealers Section-->

/* Top Dealers Section */
.top-dealers {
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-dealers .row {
    justify-content: flex-start;
}

.top-dealers h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.dealer-card {
    background-color: #fff;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.dealer-card:hover {
    transform: translateY(-10px);
}

.dealer-logo img {
    max-width: 100px;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.dealer-info {
    text-align: left;
}

.dealer-products {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #888;
    display: flex;
    justify-content: end;
    align-items: center;
}

.dealer-address,
.dealer-contact {
    font-size: 18px;
    margin-bottom: 5px;
    color: #343a40;
    font-weight: 400;
}

.dealer-address i,
.dealer-contact i {
    color: #f67350;
    fill: #f67350;
    margin-right: 5px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .top-dealers {
        background-color: #f8f9fa;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .top-dealers .row {
        justify-content: flex-start;
    }
    
    .top-dealers h2 {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #fff;
    }
    
    .dealer-card {
        background-color: #fff;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 20px;
        text-align: center;
    }
    
    .dealer-card:hover {
        transform: translateY(-10px);
    }
    
    .dealer-logo img {
        max-width: 100px;
        height: auto;
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .dealer-info {
        text-align: left;
    }
    
    .dealer-products {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #888;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .dealer-address,
    .dealer-contact {
        font-size: 18px;
        margin-bottom: 5px;
        color: #343a40;
        font-weight: 400;
    }
    
    .dealer-address i,
    .dealer-contact i {
        color: #f67350;
        fill: #f67350;
        margin-right: 5px;
    }
}


<!--Trending Products Section-->


/* Categories Navigation */
.productsCarousel {
    border-style: solid;
    border-color: #6c757d;
    border-width: 2px;
}

.trending-products .category-nav {
    padding: 15px;
    background-image: url('/e-commerce/assets/category-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.trending-products .category-nav .nav-link {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 600;
    font-size: 28px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.trending-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 20px;
}

.trending-product-card:hover {
    transform: translateY(-10px);
}

.trending-product-card img {
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

.trending-product-card .product-info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-product-card .product-name {
    padding-top: 15px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.trending-product-card .product-price {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 900;
}

.trending-product-card .old-price {
    text-decoration: line-through;
    color: #e70f00;
    margin-right: 10px;
}

.trending-product-card .new-price {
    color: #333;
}

.trending-product-card .product-rating {
    margin-bottom: 10px; /* Add some space below the rating */
}

.trending-product-card .product-rating i {
    color: #000000;
    font-size: 24px;
}

.trending-product-card .product-rating i.bi-star {
    color: #ccc;
}

.trending-products .category-nav .nav-link:hover {
    color: #f7f7f7;
}

.trending-products .category-nav .nav-link.active {
    color: #f7f7f7;
    font-weight: 800;
}

.trending-products .category-nav .chevron-right {
    float: right;
    font-size: 18px;
}

.trending-products .category-nav .nav-item:last-child .nav-link {
    border-bottom: none;
}

.trending-product-card .trending-product-nav {
    display: none;
}

@media (max-width: 992px) {
    /* Category navigation tab - stacked horizontally with scrollable options */
    .trending-products .category-nav {
        padding: 0;
        border-bottom: 2px solid #ddd;
    }

    .trending-products .category-nav ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ddd;
    }

    .trending-products .category-nav .nav-link {
        background-color: #f1f1f1;
        color: #343845;
        padding: 10px 15px;
        margin-right: 10px;
        border: 1px solid transparent;
        border-bottom: none;
        flex-grow: 1;
        text-align: center;
        font-size: 16px;
        border-radius: 0;
        white-space: nowrap;
    }

    .trending-products .category-nav .nav-link.active {
        background-color: #343845;
        border-bottom: 2px solid #f67350;
        color: #000;
        font-weight: 700;
    }

    .trending-products .category-nav .nav-link:hover {
        border-color: transparent transparent #ddd;
        background-color: #343845;
        color: #ddd;
    }

    /* Trending products cards - displayed as a single column carousel */
    .trending-product-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .trending-product-card img {
        width: 100%;
        margin: 0 auto;
    }

    .trending-product-card .product-info {
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .trending-product-card .product-name {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .trending-product-card .product-rating i {
        color: #000000;
        font-size: 16px;
    }

    .trending-product-card .product-price {
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }

    .trending-product-card .old-price {
        color: #e70f00;
        font-weight: 800;
        font-size: 18px;
    }

    .trending-product-card .new-price {
        font-size: 18px;
        font-weight: 800;
    }

    .trending-product-card .trending-product-nav {
        display: flex;
    }

    .trending-product-card .trending-product-nav .col {
        position: relative; /* Ensure the dividers stay within the columns */
        padding: 0;
    }
    
    .trending-product-card .trending-product-nav .col:not(:last-child) {
        border-right: 1px solid #9e9e9e; /* White divider between the icons */
    }

    .trending-product-card .trending-product-nav .pnav-icon {
        color: #000;
        font-size: 20px;
        height: 100%;
        padding: 0;
    }

    .trending-product-card .trending-product-nav .pnav-icon i {
        transition: color 0.3s ease;
    }
    
    .trending-product-card .trending-product-nav .pnav-icon:hover i {
        color: #f67350; /* Change icon color on hover */
    }

    /* Carousel Controls */
    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .carousel-control-prev {
        left: -20px;
    }

    .carousel-control-next {
        right: -20px;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        background-color: #f67350;
        color: #fff;
        border-color: #f67350;
    }
}



<!--Deal of the Day Section-->
.dod-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 20px;
}

.dod-product-card img {
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

.dod-product-card .product-info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dod-product-card .product-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.dod-product-card .product-price {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 900;
}

.dod-product-card .old-price {
    text-decoration: line-through;
    color: #e70f00;
    margin-right: 10px;
}

.dod-product-card .new-price {
    color: #333;
}

.dod-product-card .product-rating {
    margin-bottom: 10px; /* Add some space below the rating */
}

.dod-product-card .product-rating i {
    color: #000000;
}

.dod-product-card .product-rating i.bi-star {
    color: #ccc;
}

.trending-products .category-nav .nav-link:hover {
    color: #f67350;
}

.trending-products .category-nav .nav-link.active {
    color: #f67350;
    font-weight: 800;
}

.trending-products .category-nav .chevron-right {
    float: right;
    font-size: 18px;
}

.trending-products .category-nav .nav-item:last-child .nav-link {
    border-bottom: none;
}

.dod-product-card:hover .overlay-buttons {
    opacity: 1;
    visibility: visible;
}

.dod-section h1 {
    font-size: 46px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

.dod-section h3 {
    font-size: 24px;
    font-weight: 400;
    color: white;
    background-color: #f67350;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    width: 100%;
}

@media (max-width: 992px) {
    .dod-section h1 {
        font-size: 36px;
        font-weight: 700;
        color: #000000;
        margin: 0;
    }
    
    .dod-section h3 {
        font-size: 22px;
        font-weight: 400;
        color: white;
        background-color: #f67350;
        padding: 10px 20px;
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
<!--Browse by Brands Section-->

.bbb-section {
    padding: 20px;
    margin-bottom: 20px;
}

.bbb-section h1 {
    font-size: 46px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

/* Browse by Brands Section */

.brand-container {
    border: solid 1px #d3d3d3;
    width: 16%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.brand-logo:hover {
    transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .bbb-section{
        padding: none;
    }

    .bbb-section h1 {
        font-size: 36px;
        font-weight: 700;
        color: #000000;
        margin: 0;
    }

    .brands-section {
        padding: 20px 20px;
    }

    .brands-section .section-title {
        font-size: 24px;
    }

    .brand-container {
        border: solid 1px #d3d3d3;
        width: 32%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }

    .brand-logo {
        max-width: 100%;
        height: auto
    }
}

<!--Promo Footer-->
.promo-features {
    background-color: #f67350;
    padding: 20px 0;
}

.promo-features .feature-title {
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
}

.promo-features .feature-text {
    color: white;
    font-size: 16px;
    margin: 0px;
}

.promo-logo i {
    font-size: 60px;
    color: white;
}


<!--Footer Styles-->

/* Footer Styles */
.footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

footer{
    background-color: #111827;
}

.footer-secondary{
    background-color: #0e1421;
}

footer .footer-heading {
    font-size: 22px;
    font-weight: 700;
}

footer p {
    font-size: 22px;
    color: #ccc;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 30px;
}

footer ul li a {
    font-size: 22px;
    font-weight: 600;
    color: #6a738e;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #fff;
}

footer .social-icons {
    font-size: 36px;
    color: #6b6b6b;
    margin-right: 10px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #f67350;
}

@media (max-width: 768px) {
    footer .row > div {
        margin-bottom: 20px;
    }
}


/*<!--product_page-->*/

/* Base Styles */
body {
    font-family: 'Avenir LT Pro', sans-serif;
    color: #333;
}

/* Breadcrumb Styles */
.breadcrumb-tab .breadcrumb {
    background-color: transparent;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb-item a {
    color: #333;
}

.breadcrumb-item.active {
    color: #f67350;
}

.breadcrumb .ms-auto a {
    color: #a1a1a1;
    text-decoration: none;
}

.breadcrumb .ms-auto a:hover {
    color: #f67350;
}

/* Product Title and Info */
.product-title {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.product-image-container {
    max-width: auto;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-rating i{
    font-size: 16px;
    color: #ffcc00;
    margin: 0;
}

.sku {
    font-size: 20px;
    color: #343a40;
    margin-bottom: 20px;
}

.definition {
    font-size: 22px;
    color: #343a40;
}

.products-main-info {
    border-bottom: 2px solid #ebeaea;
    padding-bottom: 10px;
}

/* Product Price */
.product-buttons-section .product-price {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}

.product-price .text-danger {
    font-size: 24px;
    font-weight: 400;
    color: #d9534f;
}

/* Buttons Section */
.product-buttons-section {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid #ebeaea;
    padding-bottom: 10px;
}

/* Quantity Selector Styles */
.quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebeaea;
    border-radius: 25px;
    padding: 8px 8px;
    max-width: 150px;
    width: 100%;
}

.quantity-btn {
    border: none;
    background-color: #fff;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #f67350;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #f0f0f0;
}

.quantity-input {
    border: none;
    background-color: transparent;
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    pointer-events: none;
}

.quantity-input:focus {
    outline: none;
}

.btn-orange-cart {
    background-color: #f67350;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
}

.btn-orange-cart:hover {
    background-color: #d45c3d;
}

/*Brand logo*/
.brand-logo{
    display: flex;
    flex-wrap: contain;
    border: 0;
    max-height: auto;
    width: auto;
}

/* Wishlist and Terms */
.terms .text-title u {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.wishlist-terms p {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}

.product-buttons-section .text-muted {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

/* Share Buttons */
.product-buttons-section .me-3 {
    font-size: 18px;
}

.product-buttons-section a {
    color: inherit;
}

.product-buttons-section a:hover {
    color: #f67350;
}

.wishlist-terms i {
    color: #000
}

/* Tabs Section */
.nav-underline {
    border-bottom: 2px solid #ebeaea;
}

.nav-underline .nav-item {
    margin-right: 20px;
}

.nav-underline .nav-link {
    font-size: 18px;
    color: #a1a1a1;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.nav-underline .nav-link.active {
    border-bottom-color: #f67350;
}

.nav-underline .nav-link:hover {
    color: #f67350;
}

/* Product Details */
.tab-title {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-description {
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-more a {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0;
}

.read-more a:hover {
    color: #333;
}

/* History Section */
.history-section {
    border-bottom: 2px solid #dee2e6;
}

.history-section .title-history {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.title-history h1 {
    font-size: 50px;
    width: 100%;
    font-weight: 700;
    line-height: 1.2;
    color: #404040;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    border-bottom: 2px solid #dee2e6;
}

.our-story {
    padding-top: 16px;
    margin-top: 16px;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.our-story .story-link {
    display: flex;
    align-items: center;
    color: #9e9e9e;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.our-story .story-icon {
    font-size: 48px;
    color: #404040;
    transition: color 0.3s ease;
}

.our-story .story-icon:hover {
    color: #f67350;
}

.history-text {
    width: 100%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #404040;
}

.read-more {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* Specifications Section */
.table-category {
    border-bottom: 1px solid #ddd;
}

.table-category h4 {
    font-size: 40px;
    font-weight: 600;
}

.table {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}

.table th {
    width: 20%;
    font-weight: 600;
}

.table td {
    color: #8d8d8d;
    width: 80%;
}

/*<!--product_page-->*/

/*category header*/
.category-product-container {
    background-color: #f5f5f5;
}
.breadcrumb a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb li {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.breadcrumb .bi-chevron-right {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

/*category side bar*/
.category-list-title {
    font-weight: 700;
    font-size: 26px;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 4px;
}

.category-list-menu li {
    margin-bottom: 0.75rem;
    font-size: 20px;
    font-weight: 500;
}

.category-list-menu a {
    color: #333;
    text-decoration: none;
}

.category-list-menu a:hover {
    color: #FF6A33;
}

.category-list-menu li::marker {
    color: #8d8d8d;
}
.category-list-menu span {
    color: #666;
    font-weight: normal;
}

/*sort section*/
.form-label {
    color: #8d8d8d;
    font-size: 20px;
}

.sort {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    color: #333;
}

.sort:hover {
    background-color: #a8a8a8;
}

.dropdown-menu {
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button group styling */
/* Container for the button group */
.button-group {
    display: inline-flex;
    align-items: center;
}

/* Style for toggle buttons */
.btn-toggle {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0px 8px 8px 0px;
    margin-right: -1px; /* No space between buttons */
    font-size: 20px;
    display: inline-block;
}

/* Active state for the first button */
.btn-toggle.active {
    background-color: #e65c00;
    color: white;
    border-color: transparent;
    border-radius: 8px 0px 0px 8px;
}

.btn-filter {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}
/* Hover effect for both button types */
.btn:hover, .btn-toggle:hover, .btn-filter:hover {
    background-color: #eee;
}
  
/*Product Category Section*/
.category-product{
    width: 24%;
    height: auto;
    border: solid 1px #dee2e6;
    border-radius: 10px;
}

.product-category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-category-card img {
    background-color: #f0f0f0;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: start; /* Ensures all elements have space */
    height: 150px; /* Adjust height as necessary */
    text-align: center;
}

.product-category-name{
    font-size: 19px;
    font-weight: 700;
}

.product-rating-category p {
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
}


.product-category-price {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 700;
}

.category-old-price {
    font-style: italic;
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
}

.category-new-price {
    color: #333;
    font-size: 24px;
}

.product-nav-category {
    display: none;
}

.product-category-card {
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.new-tag {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.sale-tag {
    background-color: #df4357;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    border-radius: 0 15px 0 15px;
    top: 0px;
    left: 0px;
    z-index: 10;
}

@media (max-width: 992px) {
    .form-label {
        display: none;
    }

    .sort {
        display: none;
    }
    .category-list-column {
        display: none;
    }

    .sort-section-column {
    flex: 0 0 100%;
    max-width: 100%;
    }

    .category-product{
        width: 49%;
        height: auto;
        border: solid 1px #dee2e6;
        border-radius: 10px;
    }

    .product-nav-category {
        width: 100%;
        display: flex;
        background-color: #d3d3d3;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
    }

    .product-nav-category .col {
        position: relative; /* Ensure the dividers stay within the columns */
        padding: 0;
        text-align: center;
    }
    
    .product-nav-category .col:not(:last-child) {
        border-right: 1px solid #000; /* White divider between the icons */
    }

    .product-nav-category .pnav-icon {
        color: #000;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .product-nav-category .pnav-icon i {
        transition: color 0.3s ease;
    }
    
    .product-nav-category .pnav-icon:hover i {
        color: #f67350; /* Change icon color on hover */
    }

    .btn-filter {
        display: inline-block;
    }
}

/*Overlay functions*/
.product-category-card {
    position: relative;
    overflow: hidden;
}

.product-image {
    width: 100%;
    display: block;
}

.overlay-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.overlay-container {
    position: relative;
    transition: filter 0.3s ease;
}

.product-category-card:hover .overlay-buttons {
    opacity: 1;
    visibility: visible;
}

.button-overlay {
    background-color: #404040;
    color: #f7f7f7;
    margin: 10px;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    /* Show buttons and blur info on hover */
    .product-category-card:hover .overlay-buttons {
        opacity: 1;
        visibility: visible;
    }
  
    .product-category-card:hover .product-info {
        filter: blur(5px);
    }

    .dod-product-card:hover .overlay-buttons {
        opacity: 1;
        visibility: visible;
    }

    .dod-product-card:hover .product-info {
        filter: blur(5px);
        background-color: rgb(223, 67, 87, 0.2);
    }
}